.container {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem 0;
}

nav.top-bar {
    position: relative;
    z-index: 10;
    color: white;
    background-color: #AA4839
}

.menu li:first-child > a {
    color: white;
    background-color: #AA4839;
}

.menu li:nth-child(2) > a {
    color: white;
    background-color: #265B6A;
}

.menu li:nth-child(3) > a {
    color: white;
    background-color: #AA7239;
}

.menu li:nth-child(4) > a {
    color: white;
    background-color: #2A7E43;
}

.menu li:last-child > a {
    color: white;
    background-color: #D4786A;
}

/* Media Nav Styles */
.media-insert {
    background-color: #333;
    padding: 0.5rem;
    position: relative;
    z-index: 9;
    top: -52px;
    transition: 0.15s ease-in-out;
}

.media-insert.show {
    top: 0;
    transition: 0.15s ease-in-out;
}

.media-insert .form-item {
    display: inline-block;
    width: 33.333%;
    padding: 0.2rem;
}

.media-insert input, .media-insert select {
    height: 30px;
    font-size: 12px;
    margin: 0.2rem 0;
}

.media-insert .button {
    margin-bottom: 0;
    padding: 0.5rem 0.4rem;
    margin-top: 0.17rem;
}

/* Button Style Override */
.button {
    border-radius: 3px;
}
